# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
vacation_data = pd.read_csv("cities.csv")
vacation_data

,City,Lat,Lon,Wind Speed,Cloudiness,Humidity,Country,Temperature
0,puerto ayora,-0.74,-90.35,1.01,53,87,EC,79.00
1,bam,29.11,58.36,7.31,100,25,IR,73.81
2,busselton,-33.65,115.33,9.98,75,37,AU,78.48
3,castro,-24.79,-50.01,5.53,32,73,BR,55.18
4,rikitea,-23.12,-134.97,7.20,91,77,PF,78.55
...,...,...,...,...,...,...,...,...
556,teguldet,57.31,88.17,5.79,0,63,RU,42.01
557,haines junction,60.75,-137.51,2.66,0,72,CA,30.22
558,kaeo,-35.10,173.78,14.00,79,90,NZ,66.00
559,sembakung,3.82,117.25,1.59,43,74,ID,85.23
560,san luis,-33.30,-66.34,5.06,98,47,AR,63.72

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [3]:

gmaps.configure(api_key=g_key)

In [4]:
locations = vacation_data[["Lat", "Lon"]].astype(float)
humidity = vacation_data["Humidity"]
fig = gmaps.figure()


heat_layer = gmaps.heatmap_layer(locations, weights=humidity*3, 
                                 dissipating=False, max_intensity=100,
                                 point_radius = 1)

fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [5]:
ideal_weather = vacation_data.loc[(vacation_data["Cloudiness"]==0) &(vacation_data["Temperature"]>70)]
ideal_weather

,City,Lat,Lon,Wind Speed,Cloudiness,Humidity,Country,Temperature
11,niquero,20.04,-77.58,4.43,0,79,CU,77.77
24,coxim,-18.51,-54.76,2.28,0,73,BR,73.60
28,pinotepa nacional,16.32,-98.02,1.68,0,73,MX,75.61
53,varca,15.22,73.92,2.73,0,68,IN,84.51
70,along,28.17,94.77,1.07,0,29,IN,83.07
162,ladario,-19.00,-57.60,1.12,0,63,BR,70.20
249,karratha,-20.74,116.85,17.56,0,37,AU,89.96
266,gympie,-26.19,152.66,3.00,0,46,AU,77.50
268,ambilobe,-13.20,49.05,4.74,0,82,MG,71.83
288,san patricio,19.22,-104.70,11.83,0,63,MX,75.40
305,kudahuvadhoo,2.67,72.89,5.19,0,66,MV,84.38
343,gunjur,13.20,-16.73,7.07,0,79,GM,71.17
351,taoudenni,22.68,-3.98,6.11,0,15,ML,81.05
368,parvatipuram,18.78,83.43,1.43,0,37,IN,92.66
441,tessalit,20.20,1.01,4.32,0,14,ML,77.38
452,bowen,-20.02,148.23,5.82,0,36,AU,89.26
456,musafirkhana,26.37,81.80,4.65,0,16,IN,92.71
536,phek,25.67,94.50,1.52,0,21,IN,76.12
541,puri,19.80,85.85,2.24,0,70,IN,86.00
550,adrar,20.50,-10.07,10.11,0,21,MR,76.03

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [13]:
hotel_df = ideal_weather[["City", "Lat", "Lon", "Country"]]
hotel_df["Hotel Name"]=""
hotel_df.head()

C:\Users\rdaaa\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

                 City    Lat    Lon Country Hotel Name
11            niquero  20.04 -77.58      CU
24              coxim -18.51 -54.76      BR
28  pinotepa nacional  16.32 -98.02      MX
53              varca  15.22  73.92      IN
70              along  28.17  94.77      IN

In [14]:
hotels=[]
params = {"radius": 5000,
    "types": "lodging",
    "key":g_key
}
for index,row in ideal_weather.iterrows():
    lat= row["Lat"]
    lon= row["Lon"]
    params["location"] = f"{lat},{lon}"
    base_url= "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    name_address= requests.get(base_url, params= params).json()
    try:
        hotel_df.loc[index, "Hotel Name"]= name_address["results"][0]["name"]
    except IndexError:
        print(f"No Hotel")

No Hotel
No Hotel
No Hotel
No Hotel

In [15]:
hotel_df

,City,Lat,Lon,Country,Hotel Name
11,niquero,20.04,-77.58,CU,
24,coxim,-18.51,-54.76,BR,Hotel Avenida
28,pinotepa nacional,16.32,-98.02,MX,Hotel Maria Del Carmen
53,varca,15.22,73.92,IN,"Taj Exotica Resort & Spa, Goa"
70,along,28.17,94.77,IN,Hotel West
162,ladario,-19.00,-57.60,BR,Hotel Fazenda 4 cantos
249,karratha,-20.74,116.85,AU,ibis Styles Karratha
266,gympie,-26.19,152.66,AU,Mary River Motor Inn
268,ambilobe,-13.20,49.05,MG,HÃ´tel & Restaurant DIANA Ambilobe
288,san patricio,19.22,-104.70,MX,Hotel Cabo Blanco
305,kudahuvadhoo,2.67,72.89,MV,Kudahuvadhoo Retreat
343,gunjur,13.20,-16.73,GM,Kuba Lodge
351,taoudenni,22.68,-3.98,ML,
368,parvatipuram,18.78,83.43,IN,Hotel Ravitej A/C
441,tessalit,20.20,1.01,ML,
452,bowen,-20.02,148.23,AU,Castle Motor Lodge Motel
456,musafirkhana,26.37,81.80,IN,Hindustan Sweets House
536,phek,25.67,94.50,IN,Prayer Centre
541,puri,19.80,85.85,IN,OYO 1577 Hotel Shree Hari Grand
550,adrar,20.50,-10.07,MR,

In [17]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lon"]]

In [ ]:
# Add marker layer ontop of heat map


# Display Map